<!DOCTYPE html>
<html>
<head>
  <title>Form Input File</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2>Form Input File</h2>
  <form action="#" method="post" enctype=multipart/form-data>
    <div class="form-group">
    <label for="inputText">Masukkan File Yang Mau Di Cleansing:</label>
    <input type="file" name="inputFile" class="form-control-file" id="file">
   
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>