<!DOCTYPE html>
<html>
  <head>
    <title>Form Input Text dengan Bootstrap</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Form Input Text</h2>
      <form action="#" method="post">
        <div class="form-group">
          <label for="inputText">Masukkan Text Yang Mau Di Cleansing:</label>
          <input type="text" name="inputText" />
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
